# Jupyter temporary files

/.ipynb_checkpoints/
/**/.ipynb_checkpoints


# Pycharm Local and temp

/**/.idea/workspace.xml
/**/.idea/dictionaries/*.xml


# Temporary python files
/**/*.pyc


# Temporary pyne files
/pyne/*.gv.*
/pyne/*.gv


# Temporary packaging

/pyne/pip-wheel-metadata
/pyne/*.egg-info
/pyne/dist
