# Jupyter temporary files

/.ipynb_checkpoints/
/**/.ipynb_checkpoints


# Pycharm Local and temp

/**/.idea/workspace.xml
/**/.idea/dictionaries/*.xml


# Temporary python files
/**/*.pyc


# Temporary pynetrees files
/pynetrees/*.gv.*
/pynetrees/*.gv


# Temporary packaging

/pynetrees/pip-wheel-metadata
/pynetrees/*.egg-info
/pynetrees/dist
